<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>forum</directory>
  <name>中型论坛</name>
  <author>中型论坛</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Word]')is not null drop table [dbo].[{databaseprefix}Forum_Word]
      CREATE TABLE [dbo].[{databaseprefix}Forum_Word](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FindWord] [nvarchar](256) NOT NULL,
	[ReplaceWord] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Word] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
if object_id('[dbo].[{databaseprefix}Forum_UserExtended]')is not null drop table     [dbo].[{databaseprefix}Forum_UserExtended]
CREATE TABLE [dbo].[{databaseprefix}Forum_UserExtended](
	[UserId] [int] NOT NULL,
	[QQ] [nvarchar](16) NOT NULL,
	[MSN] [nvarchar](32) NOT NULL,
	[Gender] [int] NOT NULL,
	[Birthday] [nvarchar](16) NOT NULL,
	[Bio] [nvarchar](128) NOT NULL,
	[Address] [nvarchar](64) NOT NULL,
	[Site] [nvarchar](128) NOT NULL,
	[Signature] [nvarchar](128) NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
	[LastPostDateTime] [datetime] NOT NULL,
	[GroupId] [int] NOT NULL,
	[LastActivity] [datetime] NOT NULL,
	[TopicCount] [int] NOT NULL,
	[PostCount] [int] NOT NULL,
	[PostDigestCount] [int] NOT NULL,
	[Medal] [ntext] NOT NULL,
	[OnlineTime] [int] NOT NULL,
	[OnlineUpdateTime] [datetime] NOT NULL,
	[Verify] [tinyint] NOT NULL,
	[Hometown] [nvarchar](128) NOT NULL,
	[Nonlocal] [nvarchar](128) NOT NULL,
	[Specialty] [nvarchar](50) NOT NULL,
	[Credit] [money] NOT NULL,
  [CreditTotal] [money] NOT NULL,  
 CONSTRAINT [PK_{databaseprefix}Forum_UserExtended] PRIMARY KEY CLUSTERED 
(
	[UserId] DESC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_TopicTag]')is not null drop table [dbo].[{databaseprefix}Forum_TopicTag]
CREATE TABLE [dbo].[{databaseprefix}Forum_TopicTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_TopicTag] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Topic]')is not null drop table [dbo].[{databaseprefix}Forum_Topic]
CREATE TABLE [dbo].[{databaseprefix}Forum_Topic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoardId] [int] NOT NULL,
	[TopicTypeId] [int] NOT NULL,
	[Title] [nvarchar](64) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[ReplayCount] [int] NOT NULL,
	[TodayReplayCount] [int] NOT NULL,
	[Attachment] [int] NOT NULL,
	[TagCount] [int] NOT NULL,
	[PostUserId] [int] NOT NULL,
	[PostUsername] [nvarchar](32) NOT NULL,
	[PostNickname] [nvarchar](50) NOT NULL,
	[PostDatetime] [datetime] NOT NULL,
	[LastPostId] [int] NOT NULL,
	[LastPostDatetime] [datetime] NOT NULL,
	[LastPostUserId] [int] NOT NULL,
	[LastPostUsername] [nvarchar](32) NOT NULL,
	[LastPostNickname] [nvarchar](50) NOT NULL,
	[Digest] [tinyint] NOT NULL,
	[Top] [tinyint] NOT NULL,
	[Audit] [tinyint] NOT NULL,
	[Invisible] [tinyint] NOT NULL,
	[PostSubTable] [int] NOT NULL,
	[HighLight] [nvarchar](32) NOT NULL,
	[Close] [tinyint] NOT NULL,
	[FormId] [int] NOT NULL,
	[Ban] [tinyint] NOT NULL,
	[LastModId] [int] NOT NULL,
	[Cover] [tinyint] NOT NULL,
	[Rate] [money] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Topic] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Tag]}')is not null drop table [dbo].[{databaseprefix}Forum_Tag]
CREATE TABLE [dbo].[{databaseprefix}Forum_Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Settings]')is not null drop table [dbo].[{databaseprefix}Forum_Settings]
CREATE TABLE [dbo].[{databaseprefix}Forum_Settings](
	[Variable] [nvarchar](128) NOT NULL,
	[Value] [ntext] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Group] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[SortId] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Settings] PRIMARY KEY CLUSTERED 
(
	[Variable] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_PostSubTable]')is not null drop table [dbo].[{databaseprefix}Forum_PostSubTable]
CREATE TABLE [dbo].[{databaseprefix}Forum_PostSubTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Description] [nvarchar](512) NOT NULL,
	[TopicCount] [int] NOT NULL,
	[PostCount] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[Avail] [tinyint] NOT NULL,
	[RecyclePost] [int] NOT NULL,
	[UnauditedPost] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_PostSubTable] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_PostId]')is not null drop table [dbo].[{databaseprefix}Forum_PostId]
CREATE TABLE [dbo].[{databaseprefix}Forum_PostId](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_PostId] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Post_]')is not null drop table [dbo].[{databaseprefix}Forum_Post_]
CREATE TABLE [dbo].[{databaseprefix}Forum_Post_](
	[Id] [int] NOT NULL,
	[BoardId] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
	[PostUserId] [int] NOT NULL,
	[PostUsername] [nvarchar](64) NOT NULL,
	[PostNickname] [nvarchar](50) NOT NULL,
	[PostUserIp] [nvarchar](32) NOT NULL,
	[PostDateTime] [datetime] NOT NULL,
	[Title] [nvarchar](64) NOT NULL,
	[Message] [ntext] NOT NULL,
	[HTML] [tinyint] NOT NULL,
	[Smile] [tinyint] NOT NULL,
	[UBB] [tinyint] NOT NULL,
	[Attachment] [int] NOT NULL,
	[Signature] [tinyint] NOT NULL,
	[Url] [tinyint] NOT NULL,
	[Audit] [tinyint] NOT NULL,
	[First] [tinyint] NOT NULL,
	[Invisible] [tinyint] NOT NULL,
	[Ban] [tinyint] NOT NULL,
	[Grade] [int] NOT NULL,
	[Hide] [tinyint] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateUsername] [nvarchar](32) NOT NULL,
	[UpdateNickname] [nvarchar](50) NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[Support] [int] NOT NULL,
	[Against] [int] NOT NULL,
	[QuoteUserId] [int] NOT NULL,
	[QuoteMessage] [ntext] NOT NULL,
	[QuoteNickname] [nvarchar](50) NOT NULL,
  [QuotePostIds] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Post_] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Online]')is not null drop table [dbo].[{databaseprefix}Forum_Online]
CREATE TABLE [dbo].[{databaseprefix}Forum_Online](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](32) NOT NULL,
	[Image] [nvarchar](256) NOT NULL,
	[Hash] [nvarchar](32) NOT NULL,
	[Ip] [nvarchar](32) NOT NULL,
	[UserId] [int] NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
	[GroupId] [int] NOT NULL,
	[Username] [nvarchar](32) NOT NULL,
	[Show] [bit] NOT NULL,
	[Description] [ntext] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[BoardId] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Online] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    
    if object_id('[dbo].[{databaseprefix}Forum_MyTopic]')is not null drop table [dbo].[{databaseprefix}Forum_MyTopic]
CREATE TABLE [dbo].[{databaseprefix}Forum_MyTopic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_MyTopic] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_MyPost]')is not null drop table [dbo].[{databaseprefix}Forum_MyPost]
CREATE TABLE [dbo].[{databaseprefix}Forum_MyPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_MyPost] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Moderator]')is not null drop table [dbo].[{databaseprefix}Forum_Moderator]
CREATE TABLE [dbo].[{databaseprefix}Forum_Moderator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoardId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](32) NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Moderator] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Medal]')is not null drop table [dbo].[{databaseprefix}Forum_Medal]
CREATE TABLE [dbo].[{databaseprefix}Forum_Medal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Image] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[Url] [nvarchar](256) NOT NULL,
	[Available] [tinyint] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Medal] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_GroupExtended]')is not null drop table [dbo].[{databaseprefix}Forum_GroupExtended]
CREATE TABLE [dbo].[{databaseprefix}Forum_GroupExtended](
	[GroupId] [int] NOT NULL,
	[ViewIpField] [int] NOT NULL,
	[AttachmentExtension] [nvarchar](64) NOT NULL,
	[DayAttachmentSize] [int] NOT NULL,
	[PostIntervalSecond] [int] NOT NULL,
	[Search] [tinyint] NOT NULL,
	[MemberList] [tinyint] NOT NULL,
	[PostCheck] [tinyint] NOT NULL,
	[Cost] [tinyint] NOT NULL,
	[CostMax] [money] NOT NULL,
	[PostUpdateLog] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_GroupExtended] PRIMARY KEY CLUSTERED 
(
	[GroupId] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Group]')is not null drop table [dbo].[{databaseprefix}Forum_Group]
CREATE TABLE [dbo].[{databaseprefix}Forum_Group](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[System] [tinyint] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[CreditLower] [int] NOT NULL,
	[CreditHigher] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Color] [nvarchar](8) NOT NULL,
	[Image] [nvarchar](256) NOT NULL,
	[OnlineImage] [nvarchar](256) NOT NULL,
	[IsDefault] [tinyint] NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Group] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_BoardActionPoint]')is not null drop table [dbo].[{databaseprefix}Forum_BoardActionPoint]
CREATE TABLE [dbo].[{databaseprefix}Forum_BoardActionPoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Enable] [int] NOT NULL,
	[BoardId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[Point] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_BoardActionPoint] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Board]')is not null drop table [dbo].[{databaseprefix}Forum_Board]
CREATE TABLE [dbo].[{databaseprefix}Forum_Board](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[LeftNumber] [int] NOT NULL,
	[RightNumber] [int] NOT NULL,
	[Layer] [int] NOT NULL,
	[ChildCount] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[TodayTopicCount] [int] NOT NULL,
	[TopicCount] [int] NOT NULL,
	[PostCount] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[Icon] [nvarchar](256) NOT NULL,
	[Rule] [ntext] NOT NULL,
	[Description] [ntext] NOT NULL,
	[ChildCol] [smallint] NOT NULL,
	[LastPostUserId] [int] NOT NULL,
	[LastPostUsername] [nvarchar](32) NOT NULL,
	[LastPostNickname] [nvarchar](50) NOT NULL,
	[LastTopicId] [int] NOT NULL,
	[LastTopicTitle] [nvarchar](64) NOT NULL,
	[Url] [nvarchar](256) NOT NULL,
	[Show] [int] NOT NULL,
	[ClassList] [nvarchar](255) NOT NULL,
	[ClassLayer] [int] NOT NULL,
	[SortId] [int] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Board] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_AttachmentBuy]')is not null drop table [dbo].[{databaseprefix}Forum_AttachmentBuy]
CREATE TABLE [dbo].[{databaseprefix}Forum_AttachmentBuy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Cost] [money] NOT NULL,
	[CostType] [tinyint] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_AttachmentBuy] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Attachment]')is not null drop table [dbo].[{databaseprefix}Forum_Attachment]
CREATE TABLE [dbo].[{databaseprefix}Forum_Attachment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BoardId] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[UploadDatetime] [datetime] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[FileName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](128) NOT NULL,
	[FileType] [nvarchar](64) NOT NULL,
	[FileSize] [int] NOT NULL,
	[IsImage] [tinyint] NOT NULL,
	[Thumb] [tinyint] NOT NULL,
	[Download] [int] NOT NULL,
	[Cost] [money] NOT NULL,
	[CostType] [tinyint] NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Attachment] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
) ON [PRIMARY]
) ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
ALTER TABLE [dbo].[{databaseprefix}Forum_Post_] ADD  CONSTRAINT [DF_{databaseprefix}Forum_Post__Support]  DEFAULT ((0)) FOR [Support]
 ]]></sql>
    <sql><![CDATA[
ALTER TABLE [dbo].[{databaseprefix}Forum_Post_] ADD  CONSTRAINT [DF_{databaseprefix}Forum_Post__Against]  DEFAULT ((0)) FOR [Against]
      ]]></sql>
    <sql><![CDATA[
    INSERT INTO [{databaseprefix}Forum_Group]
    ([Name],[System],[Type],[CreditLower],[CreditHigher] ,[Order],[Color],[Image],[OnlineImage] ,[IsDefault])
    VALUES ('新人组',0 ,5,0,0,0,'','','',1)
 ]]></sql>
    <sql><![CDATA[
    INSERT INTO [{databaseprefix}Forum_PostSubTable]
    ([Name],[Description] ,[TopicCount],[PostCount],[CreateDateTime],[Avail],[RecyclePost] ,[UnauditedPost])
    VALUES
    ('回贴分表A','',0 ,0 ,GETDATE(),1 ,0 ,0)
    ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_Post_1]')is not null drop table [dbo].[{databaseprefix}Forum_Post_1]
CREATE TABLE [dbo].[{databaseprefix}Forum_Post_1](
	[Id] [int] NOT NULL,
	[BoardId] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
	[PostUserId] [int] NOT NULL,
	[PostUsername] [nvarchar](64) NOT NULL,
	[PostNickname] [nvarchar](50) NOT NULL,
	[PostUserIp] [nvarchar](32) NOT NULL,
	[PostDateTime] [datetime] NOT NULL,
	[Title] [nvarchar](64) NOT NULL,
	[Message] [ntext] NOT NULL,
	[HTML] [tinyint] NOT NULL,
	[Smile] [tinyint] NOT NULL,
	[UBB] [tinyint] NOT NULL,
	[Attachment] [int] NOT NULL,
	[Signature] [tinyint] NOT NULL,
	[Url] [tinyint] NOT NULL,
	[Audit] [tinyint] NOT NULL,
	[First] [tinyint] NOT NULL,
	[Invisible] [tinyint] NOT NULL,
	[Ban] [tinyint] NOT NULL,
	[Grade] [int] NOT NULL,
	[Hide] [tinyint] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateUsername] [nvarchar](32) NOT NULL,
	[UpdateNickname] [nvarchar](50) NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[Support] [int] NOT NULL,
	[Against] [int] NOT NULL,
	[QuoteUserId] [int] NOT NULL,
	[QuoteMessage] [ntext] NOT NULL,
	[QuoteNickname] [nvarchar](50) NOT NULL,
  [QuotePostIds] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_{databaseprefix}Forum_Post_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
 ]]></sql>
    <sql><![CDATA[
    INSERT INTO [{databaseprefix}Forum_Medal] ([Name] ,[Image] ,[Description] ,[Url] ,[Available]) 
    VALUES ('金牌','/plugins/forum/Static/Images/medal/medal1.gif','' ,'' ,1)
    ]]></sql>
    <sql><![CDATA[
    INSERT INTO [{databaseprefix}Forum_Medal] ([Name] ,[Image] ,[Description] ,[Url] ,[Available]) 
    VALUES ('银牌','/plugins/forum/Static/Images/medal/medal2.gif','' ,'',1)
]]></sql>
    <sql><![CDATA[
INSERT INTO [{databaseprefix}Forum_Medal]([Name],[Image],[Description],[Url],[Available])
VALUES('铜牌','/plugins/forum/Static/Images/medal/medal3.gif' ,'' ,'' ,1)
]]></sql>
    <sql><![CDATA[
    INSERT INTO [{databaseprefix}Forum_Board]([ParentId],[LeftNumber],[RightNumber],[Layer],[ChildCount],[Name],[TodayTopicCount],
    [TopicCount],[PostCount],[CreateTime],[UpdateTime],[Icon],[Rule],[Description],[ChildCol],[LastPostUserId],[LastPostUsername],
    [LastPostNickname],[LastTopicId],[LastTopicTitle],[Url],[Show],[ClassList],[ClassLayer],[SortId])
VALUES(0,0,0,0,0,'我的版块',0,0,0,GETDATE(),GETDATE(),'','','',0,0,'','',0,'','',1,',1,',1,99)
    ]]></sql>
    <sql><![CDATA[
    INSERT INTO [{databaseprefix}Forum_Settings]
    ([Variable],[Value],[Title],[Group],[Description] ,[SortId]) VALUES
    ('RateExchange' ,'5','积分兑换' ,-1 ,'因为论坛插件金币可兑换成DTcms积分，兑换的比例5个论坛金币可兑换DTcms的1积分' ,99)
    ]]></sql>
    <sql><![CDATA[
    INSERT INTO [{databaseprefix}Forum_Settings]
    ([Variable],[Value],[Title],[Group],[Description] ,[SortId]) VALUES
    ('Version' ,'4.0','系统版本' ,-1 ,'' ,99)
    ]]></sql>
    <sql><![CDATA[
    if object_id('[dbo].[{databaseprefix}Forum_BoardPermission]')is not null drop table [dbo].[{databaseprefix}Forum_BoardPermission]
      CREATE TABLE [dbo].[{databaseprefix}Forum_BoardPermission](
      [Id] [int] IDENTITY(1,1) NOT NULL,
      [BoardId] [int] NOT NULL,
      [GroupId] [int] NOT NULL,
      [VisitBoard] [int] NOT NULL,
      [VisitTopic] [int] NOT NULL,
      [PostTopic] [int] NOT NULL,
      [PostReply] [int] NOT NULL,
      [UploadAttachment] [int] NOT NULL,
      [ViewAttachment] [int] NOT NULL,
      [UpdateMyselfTopic] [int] NOT NULL,
      [UpdateMyselfReply] [int] NOT NULL,
      [DeleteMyselfTopic] [int] NOT NULL,
      [DeleteMyselfReply] [int] NOT NULL,
      [PostBanTopic] [int] NOT NULL,
      [ViewBanTopic] [int] NOT NULL,
      [RateTopic] [int] NOT NULL,
      [RateReply] [int] NOT NULL,
      CONSTRAINT [PK_{databaseprefix}Forum_BoardPermission] PRIMARY KEY CLUSTERED
      (
      [Id] DESC
      )WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
      ) ON [PRIMARY]
 ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}Forum_Attachment</sql>
    <sql>Drop Table {databaseprefix}Forum_AttachmentBuy</sql>
    <sql>Drop Table {databaseprefix}Forum_Board</sql>
    <sql>Drop Table {databaseprefix}Forum_BoardActionPoint</sql>
    <sql>Drop Table {databaseprefix}Forum_Group</sql>
    <sql>Drop Table {databaseprefix}Forum_GroupExtended</sql>
    <sql>Drop Table {databaseprefix}Forum_Medal</sql>
    <sql>Drop Table {databaseprefix}Forum_Moderator</sql>
    <sql>Drop Table {databaseprefix}Forum_MyPost</sql>
    <sql>Drop Table {databaseprefix}Forum_MyTopic</sql>
    <sql>Drop Table {databaseprefix}Forum_Online</sql>
    <sql>Drop Table {databaseprefix}Forum_Post_</sql>
    <sql>Drop Table {databaseprefix}Forum_Post_1</sql>
    <sql>Drop Table {databaseprefix}Forum_PostId</sql>
    <sql>Drop Table {databaseprefix}Forum_PostSubTable</sql>
    <sql>Drop Table {databaseprefix}Forum_Settings</sql>
    <sql>Drop Table {databaseprefix}Forum_Tag</sql>
    <sql>Drop Table {databaseprefix}Forum_Topic</sql>
    <sql>Drop Table {databaseprefix}Forum_TopicTag</sql>
    <sql>Drop Table {databaseprefix}Forum_UserExtended</sql>
    <sql>Drop Table {databaseprefix}Forum_Word</sql>
    <sql>Drop Table {databaseprefix}Forum_BoardPermission</sql>
  </uninstall>
  <urls>
    <rewrite name="forum_index" type="plugin" page="forum_index.aspx" inherit="DTcms.Web.Plugin.Forum.Page.index" templet="Default/index.html">
      <item path="forum/index.aspx" pattern="forum/index.aspx" querystring="board_id=0" />
    </rewrite>
    <rewrite name="forum_board" type="plugin" page="forum_board.aspx" inherit="DTcms.Web.Plugin.Forum.Page.board" templet="Default/board.html">
      <item path="forum/board/{0}.aspx" pattern="forum/board/(\d+).aspx" querystring="board_id=$1" />
      <item path="forum/board/{0}/{1}.aspx" pattern="forum/board/(\d+)/(\w+).aspx" querystring="board_id=$1^page=$2" />
    </rewrite>
    <rewrite name="forum_topic" type="plugin" page="forum_topic.aspx" inherit="DTcms.Web.Plugin.Forum.Page.topic" templet="Default/topic.html">
      <item path="forum/topic/{0}.aspx" pattern="forum/topic/(\d+).aspx" querystring="topic_id=$1" />
      <item path="forum/topic/{0}/{1}.aspx" pattern="forum/topic/(\d+)/(-?\d+).aspx" querystring="topic_id=$1^page=$2" />
    </rewrite>
    <rewrite name="forum_post" type="plugin" page="forum_post.aspx" inherit="DTcms.Web.Plugin.Forum.Page.post" templet="Default/post.html">
      <item path="forum/post/{0}/{1}.aspx" pattern="forum/post/(\w+)/(\d+).aspx" querystring="action=$1^board_id=$2" />
      <item path="forum/post/{0}/{1}/{2}.aspx" pattern="forum/post/(\w+)/(\d+)/(\d+).aspx" querystring="action=$1^board_id=$2^topic_id=$3" />
      <item path="forum/post/{0}/{1}/{2}/{3}.aspx" pattern="forum/post/(\w+)/(\d+)/(\d+)/(\d+).aspx" querystring="action=$1^board_id=$2^topic_id=$3^post_id=$4" />
    </rewrite>
    <rewrite name="forum_manage" type="plugin" page="forum_manage.aspx" inherit="DTcms.Web.Plugin.Forum.Page.manage" templet="Default/manage.html">
      <item path="forum/manage/{0}.aspx" pattern="forum/manage/(\w+).aspx" querystring="action=$1" />
    </rewrite>
    <rewrite name="forum_search" type="plugin" page="forum_search.aspx" inherit="DTcms.Web.Plugin.Forum.Page.search" templet="Default/search.html" />
    <rewrite name="userforum" type="other" page="userforum.aspx" inherit="DTcms.Web.Plugin.Forum.Page.userforum" templet="userforum.html">
      <item path="user/forum/{0}.aspx" pattern="user/forum/(\w+).aspx" querystring="action=$1" />
      <item path="user/forum/{0}/{1}.aspx" pattern="user/forum/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
    </rewrite>
    <rewrite name="usercredit" type="other" page="usercredit.aspx" inherit="DTcms.Web.Plugin.Forum.Page.usercredit" templet="usercredit.html">
      <item path="user/credit/{0}.aspx" pattern="user/credit/(\w+).aspx" querystring="action=$1" />
      <item path="user/credit/{0}-{1}.aspx" pattern="user/credit/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_forum" title="论坛管理" action="Show,View">
      <nav name="plugin_forum_word" title="敏感词管理" url="admin/word_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_postsubtable" title="分表管理" url="admin/post_subtable_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_boardactionpoint" title="金币设置" url="admin/board_action_point_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_medal" title="勋章管理" url="admin/medal_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_post" title="回贴管理" url="admin/post_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_topic" title="	主题管理" url="admin/topic_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_board" title="版块管理" url="admin/board_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_userextended" title="会员管理" url="admin/user_extended_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_group" title="分组管理" url="admin/group_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_forum_settings" title="全局管理" url="admin/settings_list.aspx" action="Show,View,Add,Edit,Delete" />
    </nav>
  </menu>
</plugin>