<?xml version="1.0" encoding="utf-8"?>
<Lucene>
  <news>
    <status>1</status>
    <lastid>33</lastid>
    <lasttime>2016/11/1 23:22:44</lasttime>
  </news>
  <goods>
    <status>1</status>
    <lastid>101</lastid>
    <lasttime>2016/10/31 18:53:57</lasttime>
  </goods>
  <video>
    <status>1</status>
    <lastid>85</lastid>
    <lasttime>2016/10/31 18:53:57</lasttime>
  </video>
  <photo>
    <status>1</status>
    <lastid>53</lastid>
    <lasttime>2016/10/31 18:53:57</lasttime>
  </photo>
  <down>
    <status>1</status>
    <lastid>70</lastid>
    <lasttime>2016/10/31 18:53:58</lasttime>
  </down>
  <content>
    <status>0</status>
    <lastid>0</lastid>
    <lasttime>
    </lasttime>
  </content>
</Lucene>