<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>qqonline</directory>
  <name>QQ在线客服</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}plugin_qqonline(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [qq] [varchar](20),
          [username] [nvarchar](30),
          [img_url] [nvarchar](100),
          [link_url] [nvarchar](200),
          [is_lock] [tinyint],
          [sort_id] [int],
	      [color] [nvarchar](20),
          [add_time] [datetime]
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}plugin_qqonline</sql>
  </uninstall>
  <urls />
  <menu>
    <nav name="plugin_qqonline" title="QQ在线客服" action="Show">
      <nav name="plugin_qqonline_list" title="客服列表" url="admin/online_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_qqonline_config" title="参数配置" url="admin/config.aspx" action="Show,View,Edit" />
    </nav>
  </menu>
</plugin>