<?xml version="1.0"?>
<qqonline_config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <status>0</status>
  <xline>0</xline>
  <yline>0</yline>
  <position>2</position>
  <pattern>14</pattern>
  <code>/upload/201611/01/201611012245258767.png</code>
  <remark>扫一扫关注我们</remark>
</qqonline_config>