<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>menu</directory>
  <name>导航菜单</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}plugin_menu_class(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [title] [nvarchar](100),
          [is_lock] [tinyint],
          [sort_id] [int],
          [is_sys] [tinyint],
	      [color] [nvarchar](20)
      )
      ]]></sql>
    <sql>
        CREATE TABLE {databaseprefix}plugin_menu(
        <![CDATA[
      [id] [int] IDENTITY(1,1) PRIMARY KEY,
      [class_id] [int],
	[title] [nvarchar](255),
	[link_url] [nvarchar](255),
	[parent_id] [int],
	[class_list] [nvarchar](500),
	[class_layer] [int],
	[target] [nvarchar](20),
	[sort_id] [int],
	[css_txt] [nvarchar](50),
	[img_url] [nvarchar](200),
	[is_lock] [tinyint],
	[add_time] [datetime]
    )
      ]]></sql>
    <sql><![CDATA[
          insert into {databaseprefix}plugin_menu_class values('网站主导航',0,1,1,'#B2DEC3');
insert into {databaseprefix}plugin_menu_class values('顶部导航',0,2,1,'#CCC');
insert into {databaseprefix}plugin_menu_class values('底部分类导航',0,3,1,'#FFC1C1');
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}plugin_menu</sql>
    <sql>Drop Table {databaseprefix}plugin_menu_class</sql>
  </uninstall>
  <urls>
  </urls>
  <menu>
    <nav name="plugin_menu" title="菜单管理" action="Show,View">
      <nav name="plugin_menu_class" title="类别管理" url="admin/class_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_menu_list" title="菜单管理" url="admin/menu_list.aspx" action="Show,View,Add,Edit,Delete" />
    </nav>
  </menu>
</plugin>