<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>images</directory>
  <name>广告橱窗</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}plugin_images_class(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [title] [nvarchar](100),
          [call_index] [nvarchar](50),
          [num] [int],
          [width] [int],
          [height] [int],
          [sort_id] [int],
          [is_sys] [tinyint],
          [is_lock] [tinyint]
      )
      ]]></sql>
    <sql><![CDATA[
       CREATE TABLE {databaseprefix}plugin_images(
			[id] [int] IDENTITY(1,1) PRIMARY KEY,
            [class_id] [int],
			[title] [nvarchar](255),
            [target] [nvarchar](20),
	        [img_url] [nvarchar](255),
            [icon_url] [nvarchar](255),
	        [link_url] [nvarchar](255),
	        [content] [ntext],
	        [sort_id] [int],
	        [back_color] [nvarchar](20),
            [is_type] [tinyint],
	        [is_lock] [tinyint],
	        [add_time] [datetime]
		);
      ]]></sql>
    <sql><![CDATA[
          insert into {databaseprefix}plugin_images_class values('首页橱窗','banner',10,1000,450,1,1,0);
      ]]></sql>
  </install>
  <uninstall>
    <sql>drop table {databaseprefix}plugin_images</sql>
    <sql>drop table {databaseprefix}plugin_images_class</sql>
  </uninstall>
  <urls>
  </urls>
  <menu>
    <nav name="plugin_images" title="广告橱窗" action="Show">
      <nav name="plugin_images_class" title="橱窗位管理" url="admin/class_list.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_images_list" title="橱窗内容管理" url="admin/images_list.aspx" action="Show,View,Add,Edit,Delete" />
    </nav>
  </menu>
</plugin>